* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #192a32;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.label-top {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.symbols {
    display: flex;
}

.x-icon {
    font-size: 2rem;
    font-weight: bold;
    color: #48ebe2;
}

.o-icon {
    font-size: 2rem;
    font-weight: bold;
    color: #ddad34;
}

.turn {
    display: flex;
    align-items: center;
    background-color: #1f3540;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
}

.turn>.x-icon {
    background-color: #1f3540;
    font-size: 1.3rem;
}

.turn>div {
    background-color: #1f3540;
    font-size: 0.9rem;
}

.btn-retry {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a8bec9;
    padding: 5px;
    height: 48px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-retry img {
    background-color: #a8bec9;
    max-height: 90%;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    justify-content: center;
    gap: 10px;
    width: 70%;
}

.square {
    width: 100%;
    padding-top: 100%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #1f3540;
    cursor: pointer;
}

.square:hover {
    opacity: 0.8;
}

.label-bottom {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 120px);
    width: 50%;
}

.box-score {
    margin: 0 5px;
    text-align: center;
}

.top-radius{
    border-radius: 5px 5px 0 0;
    font-weight: 500;
}

.bottom-radius{
    border-radius: 0 0 5px 5px;
    font-weight: bold;
    font-size: 1.3rem;
}

.x-player>div {
    color: black;
    background-color: #31c4be;
}

.ties-box>div {
    color: black;
    background-color: #a8dfc8;
}

.o-player>div {
    color: black;
    background-color: #f2b237;
}