* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #121212;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.label-box{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.symbols {
    display: flex;
}

.x-icon{
    font-size: 2rem;
    font-weight: bold;
    color: #48ebe2;
}

.o-icon{
    font-size: 2rem;
    font-weight: bold;
    color: #ddad34;
}

.turn{
    display: flex;
    align-items: center;
}

.btn-retry{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #808080;
    padding: 5px;
    height: 48px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-retry img{
    background-color: #808080;
    max-height: 90%;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 5px;
    width: 70%;
}

.square{
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #1f3540;
}